*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/release
*.apk
*.aab
*.jks
*.keystore
desktop/venv/
desktop/build/
desktop/dist/
desktop/**/__pycache__/
__pycache__/
